<!DOCTYPE html>
<html>
<title>Tutor Center Email Sender</title>
<!--
<link rel="icon" type="image/x-icon" href="favicon.ico">
-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <h3>Tutor Information</h3>
	<p>Your name: <input type="text" ng-model="tutorName"></p>
	<p>Enter the tutoring center email: <input type="text" ng-model="email"></p>
			
	<h3>Tutee Information</h3>
	<p>First name: <input type="text" ng-model="firstName"></p>
		
	<p>Last name: <input type="text" ng-model="lastName"></p>
	<p>Student ID: <input type="text" ng-model="studentID"></p>
			
	<input ng-model="type" value="Drop-in" type="radio" name="search-type">Drop-In
	<input ng-model="type" value="Pass Peer" type="radio" name="search-type">Pass Peer

	<p>Subject: <input type="text" ng-model="subject"></p>
	<p>Start time: <input type="text" ng-model="startTime"></p>
	<p>End time: <input type="text" ng-model="endTime"></p>
	<br>
<p>{{updateArray()}}</p>	
	<h4>Result</h4>
	<pre>{{getList()}}</pre>

		<button type="button" ng-click="addToList()">Add Student to List</button>
		<a href="mailto:{{email}}?subject={{date}} {{tutorName}} Attendance&body={{emailInstructions+getEmail()}}">
		<button type="button" ng-click="finish()">Finish and Email</button></a>
		
		<select ng-model="updatingStudent">
			<option ng-repeat="s in personList" value="{{s.firstName + s.lastName}}" ng-click="setStudent()">{{s.firstName + s.lastName}}</option>
		</select>
	<div>
<h4>Instructions</h4>

<p>Type in your (tutor's) name at the beginning of the page. </p>
<p>Fill out information for tutees. When one tutee's information is filled out, press "Add Student to List".</p>
<p>Alternatively, copy-paste the list of tutees into your email to send it manually.</p>
<p>Student information is never stored.

When every tutee is logged, press "Finish and Email". This will open your default email app (which can be changed in settings) and automatically fill in the email with tutee information. All you would need to do is to send the email!</p>
<a href="https://www.groovypost.com/howto/change-default-email-app-windows-10-mailto/">Changing Default Email App for Windows 10</a>
<a href="https://inside.wooster.edu/technology-documentation/email/make-outlook-your-default-email-client/">Changing Default Email App for Mac</a>

</div>
</div>

<script src = "index.js"></script>

</body>
</html>